# Ignore All File
/*

# Ignore All Dataset Folder
# dataset/*/

# Except this file
!.gitignore
!face_verification_facenet.ipynb
!face_verification_facenet.py
!dataset/
!verif_data/
!README.md
# dataset/**/*

# Except this Sub-Folder
# !dataset/ai_128/
# !dataset/real_128/